{% extends 'index.html' %}
{% block content %}
{% load static %}
<h3>Daftar Pegawai</h3>
<br> <br>
<a href="{% url 'formPegawai' %}" type="button" class="btn btn-primary">Tambah Data</a>
<hr>
<table class="table table-striped">
  <thead>
    <tr class="table-primary">
      <th scope="col">No</th>
      <th scope="col">Foto</th>
      <th scope="col">NIP</th>
      <th scope="col">Nama</th>
      <th scope="col">Gender</th>
      <th scope="col">Divisi</th>
      <th scope="col">Jabatan</th>
    </tr>
  </thead>
  <tbody>

    {% for data in pegawai_list %}
    <tr class="table-dark">
      <td>{{ forloop.counter }}</td>
      <td><img src="{% static 'img/' %}{{ data.foto }}" width="40%"></td>
      <td>{{ data.nip }}</td>
      <td>{{ data.nama }}</td>
      <td>{{ data.gender }}</td>
      <td>{{ data.divisi.nama }}</td>
      <td>{{ data.jabatan.nama }}</td>
      
    </tr>
    {% endfor %}
  </tbody>
</table>


{% endblock %}