<!DOCTYPE html>
<html lang="en">
<head>
    <title>About</title>
</head>
<body>
    <h1 align="center"> About Page</h1>
    <hr>
    <center>
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'about' %}">About</a>
        <a href="{% url 'gallery' %}">Gallery</a>
    </center>
    <hr>
    <p>
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Corrupti nostrum at, temporibus, 
        sunt doloribus quia repellendus dolorum sapiente fuga reprehenderit assumenda ab quam minus. 
        Quia dignissimos autem non assumenda consequuntur!
    </p>
</body>
</html>